<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="interviewer/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(interviews)}">
        <h2 class="text-center">Interviews List</h2>
        <table class="table table-striped">
            <tr>
                <th>Position</th>
                <th>Candidate name</th>
                <th>Status</th>
                <th>Feedback</th>
                <th>Edit</th>
            </tr>
            <tr th:each="interview : ${interviews}">
                <td th:text="${@positionServiceImpl.getPositionById(interview.positionId).title}">positionId</td>
                <td th:text="${@candidateServiceImpl.getCandidateName(interview.candidateId)}">candidateId</td>
                <td th:text="${interview.status}">status</td>
                <td th:text="${interview.feedback}">status</td>
                <td><a th:href="${ '/interviewer/interview/' + interview.id}">Edit</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>